# temporary vim files
*.swp
*.swo

# patch files
*.rej
*.orig

*.pyc
*~
_build/
docs/rules/rules/00_rules_config.xml.rst
docs/rules/rules/50_apache_rules.xml.rst
docs/rules/rules/50_arpwatch_rules.xml.rst
docs/rules/rules/50_asterisk_rules.xml.rst
docs/rules/rules/50_cimserver_rules.xml.rst
docs/rules/rules/50_cisco-ios_rules.xml.rst
docs/rules/rules/50_clam_ac_rules.xml.rst
docs/rules/rules/50_courier_rules.xml.rst
docs/rules/rules/50_dovecot_rules.xml.rst
docs/rules/rules/50_dropbear_rules.xml.rst
docs/rules/rules/50_drupal_rules.xml.rst
docs/rules/rules/50_firewall_rules.xml.rst
docs/rules/rules/50_ftpd_rules.xml.rst
docs/rules/rules/50_hordeimp_rules.xml.rst
docs/rules/rules/50_ids_rules.xml.rst
docs/rules/rules/50_imapd_rules.xml.rst
docs/rules/rules/50_local_rules.xml.rst
docs/rules/rules/50_mailscanner_rules.xml.rst
docs/rules/rules/50_ms-exchange_rules.xml.rst
docs/rules/rules/50_ms-se_rules.xml.rst
docs/rules/rules/50_ms_dhcp_rules.xml.rst
docs/rules/rules/50_ms_ftpd_rules.xml.rst
docs/rules/rules/50_msauth_rules.xml.rst
docs/rules/rules/50_mysql_rules.xml.rst
docs/rules/rules/50_named_rules.xml.rst
docs/rules/rules/50_netscreenfw_rules.xml.rst
docs/rules/rules/50_nginx_rules.xml.rst
docs/rules/rules/50_openbsd_rules.xml.rst
docs/rules/rules/50_ossec_rules.xml.rst
docs/rules/rules/50_pam_rules.xml.rst
docs/rules/rules/50_php_rules.xml.rst
docs/rules/rules/50_pix_rules.xml.rst
docs/rules/rules/50_policy_rules.xml.rst
docs/rules/rules/50_postfix_rules.xml.rst
docs/rules/rules/50_postgresql_rules.xml.rst
docs/rules/rules/50_proftpd_rules.xml.rst
docs/rules/rules/50_pure-ftpd_rules.xml.rst
docs/rules/rules/50_racoon_rules.xml.rst
docs/rules/rules/50_roundcube_rules.xml.rst
docs/rules/rules/50_sendmail_rules.xml.rst
docs/rules/rules/50_smbd_rules.xml.rst
docs/rules/rules/50_solaris_bsm_rules.xml.rst
docs/rules/rules/50_sonicwall_rules.xml.rst
docs/rules/rules/50_spamd_rules.xml.rst
docs/rules/rules/50_squid_rules.xml.rst
docs/rules/rules/50_sshd_rules.xml.rst
docs/rules/rules/50_symantec-av_rules.xml.rst
docs/rules/rules/50_symantec-ws_rules.xml.rst
docs/rules/rules/50_syslog_rules.xml.rst
docs/rules/rules/50_telnetd_rules.xml.rst
docs/rules/rules/50_trend-osce_rules.xml.rst
docs/rules/rules/50_vmpop3d_rules.xml.rst
docs/rules/rules/50_vmware_rules.xml.rst
docs/rules/rules/50_vpn_concentrator_rules.xml.rst
docs/rules/rules/50_vpopmail_rules.xml.rst
docs/rules/rules/50_vsftpd_rules.xml.rst
docs/rules/rules/50_web_appsec_rules.xml.rst
docs/rules/rules/50_web_rules.xml.rst
docs/rules/rules/50_wordpress_rules.xml.rst
docs/rules/rules/50_zeus_rules.xml.rst
docs/rules/rules/60_mcafee_av_rules.xml.rst
docs/rules/rules/70_attack_rules.xml.rst
docs/rules/rules/pure-ftpd_rules_da.xml.rst
docs/rules/rules/pure-ftpd_rules_de.xml.rst
docs/rules/rules/pure-ftpd_rules_en.xml.rst
docs/rules/rules/pure-ftpd_rules_es.xml.rst
docs/rules/rules/pure-ftpd_rules_fr.xml.rst
docs/rules/rules/pure-ftpd_rules_fr_funny.xml.rst
docs/rules/rules/pure-ftpd_rules_it.xml.rst
docs/rules/rules/pure-ftpd_rules_nl.xml.rst
docs/rules/rules/pure-ftpd_rules_no.xml.rst
docs/rules/rules/pure-ftpd_rules_pt_br.xml.rst
docs/rules/rules/pure-ftpd_rules_ro.xml.rst
docs/rules/rules/pure-ftpd_rules_sk.xml.rst
docs/rules/rules/pure-ftpd_rules_sv.xml.rst
docs/rules/rules/pure-ftpd_rules_tr.xml.rst
docs/_build/
docs/_ext/__init__.pyc
docs/_ext/xml_domain.pyc
docs/docs/
*~
