{% extends "furo/base.html" %}

{% block body %}
<div class="ossec-header">
    <div class="ossec-header-left">
        <a href="{{ pathto(master_doc) }}">
            <img src="{{ pathto('_static/ossec_logo_bare_small.png', 1) }}" alt="OSSEC" class="ossec-header-logo">
        </a>
        <nav class="ossec-header-nav">
            <a href="https://www.ossec.net/about/">About</a>
            <a href="https://www.ossec.net/register-for-ossec/">Get OSSEC+</a>
            <a href="https://www.ossec.net/downloads/">Downloads</a>
        </nav>
    </div>
    <div class="ossec-header-right">
        <div class="ossec-header-social-group">
            <a href="https://github.com/ossec/ossec-hids" target="_blank" class="ossec-header-social"
                title="OSSEC on GitHub" aria-label="OSSEC on GitHub">
                <svg viewBox="0 0 16 16" width="22" height="22" fill="currentColor" role="img"
                    aria-labelledby="github-title">
                    <title id="github-title">GitHub</title>
                    <path
                        d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
                    </path>
                </svg>
            </a>
            <a href="https://bsky.app/profile/ossec.bsky.social" target="_blank" class="ossec-header-social"
                title="Follow OSSEC on Bluesky" aria-label="Follow OSSEC on Bluesky">
                <svg viewBox="0 0 512 512" width="22" height="22" fill="currentColor" role="img"
                    aria-labelledby="bsky-title">
                    <title id="bsky-title">Bluesky</title>
                    <path
                        d="M407.8 84.4c-42.8 30.6-88.8 91.7-111.8 112.4-1.2 1.1-2.6 1.1-3.8 0-23.1-20.7-69-81.8-111.8-112.4C122.3 43.1 48 31.7 48 93.6c0 12.8 6.9 83.2 10.9 98.1 13.1 48.7 61.1 61.7 106.6 54.5-94.8 16.7-117.5 73-42.1 130.6 85.1 65 119.8 17.1 131.1-13.8 1.4-3.8 3.5-3.8 4.9 0 11.3 30.8 45.9 78.8 131.1 13.8 75.4-57.6 52.8-113.9-42.1-130.6 45.5 7.1 93.5-5.8 106.6-54.5 4-14.9 10.9-85.3 10.9-98.1 0-61.9-74.3-50.5-132.4-9.2z" />
                </svg>
            </a>
            <a href="https://www.linkedin.com/groups/25424/" target="_blank" class="ossec-header-social"
                title="OSSEC on LinkedIn" aria-label="OSSEC on LinkedIn">
                <svg viewBox="0 0 24 24" width="22" height="22" fill="currentColor" role="img"
                    aria-labelledby="linkedin-title">
                    <title id="linkedin-title">LinkedIn</title>
                    <path
                        d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                </svg>
            </a>
            <a href="https://www.facebook.com/ossechids/" target="_blank" class="ossec-header-social"
                title="OSSEC on Facebook" aria-label="OSSEC on Facebook">
                <svg viewBox="0 0 24 24" width="22" height="22" fill="currentColor" role="img"
                    aria-labelledby="facebook-title">
                    <title id="facebook-title">Facebook</title>
                    <path
                        d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.469h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.469h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" />
                </svg>
            </a>
            <a href="https://x.com/ossecproject" target="_blank" class="ossec-header-social"
                title="OSSEC on X (Twitter)" aria-label="OSSEC on X (Twitter)">
                <svg viewBox="0 0 24 24" width="22" height="22" fill="currentColor" role="img"
                    aria-labelledby="twitter-title">
                    <title id="twitter-title">X (Twitter)</title>
                    <path
                        d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z" />
                </svg>
            </a>
        </div>
        <form class="ossec-top-search" action="{{ pathto('search') }}" method="get">
            <input type="text" name="q" placeholder="Search documentation..." aria-label="Search">
            <input type="hidden" name="check_keywords" value="yes">
            <input type="hidden" name="area" value="default">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </form>
    </div>
</div>
{{ super() }}
{% endblock %}