.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
    background: url('ossec-conference-2019-github-banner-01.png') no-repeat center center;
    color:#fff;
    background-size:cover;
    margin-left: -80px;
    margin-right: -80px;
}

.bg-2 {
	background: url('server-rack.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
    margin-left: -80px;
    margin-right: -80px;
}

.bg-3 {
	background: url('hex.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
    margin-left: -80px;
    margin-right: -80px;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}
